.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.online {
    font-size: 18px;
    color:green;
}
.offline {
    font-size: 18px;
    color: red;
}